<form #formularz="ngForm">
  <div class="formularz">
  <label>
    <span>Imię i nazwisko:</span>
    <input type="text" class="wpis" id="imieinazwisko"
    [(ngModel)]="imieinazwisko" name="imieinazwisko" required
    #imieinazwiskoForm="ngModel">
    <div class="alert" *ngIf="imieinazwiskoForm.invalid && imieinazwiskoForm.
    touched">Pole imię i nazwisko jest wymagane</div>
  </label>
  <label>
    <span>Oceń jakość obsługi klienta:</span>
    <select id="ocena" class="ocenat" [(ngModel)]="ocena" name="ocena"
    required #ocenaForm="ngModel">
    <div class="alert" *ngIf="ocenaForm.invalid && ocenaForm.
    touched">Ocena jakość obsługi klienta jest wymagana</div>
    <option value="pralka">1</option>
    <option value="telewizor">2</option>
    <option value="lodowka">3</option>
    <option value="laptop">4</option>
    <option value="laptop">5</option>
    </select>
  </label>
  <label>
    <span>Status zawodowy:</span>
    <label [(ngModel)]="status" name="status"
    required #statusForm="ngModel">
    <div class="status" *ngIf="statusForm.invalid && statusForm.
    touched">Status zawodowy jest wymagany</div>
      <input type="radio" name="status" value="u"> uczeń
      <input type="radio" name="status" value="s"> student
      <input type="radio" name="status" value="s"> pracujący
      <input type="radio" name="status" value="s"> bezrobotny
      <input type="radio" name="status" value="s"> na renci
      <input type="radio" name="status" value="s"> emeryturze
  </label>
  <label>
    <button type="submit" class="przycisk" [disabled]="!formularz.form.
    valid">Zatwierdź</button>
  </label>
  </div>
  </form>