<!DOCTYPE html>
  <head>
  <meta charset="UTF-8">
  <title>NIE DZIALA</title>
  </head>
    <body>
      <form #formularz="ngForm">
        <div class="formularz">
        <h1>Zamówienie:</h1>
          <label>
            <span>Imię i nazwisko:</span>
            <input type="text" class="wpis" id="imieinazwisko"
            [(ngModel)]="imieinazwisko" name="imieinazwisko">
          </label>
          <label>
            <span>Email:</span>
            <input type="text" class="wpis" id="email" [(ngModel)]="email"
            name="email">
          </label>
          <label>
            <span>Produkt:</span>
            <select id="produkt" class="produkt" [(ngModel)]="produkt"
            name="produkt">
            <option value="pralka">pralka</option>
            <option value="telewizor">telewizor</option>
            <option value="lodowka">lodówka</option>
            <option value="laptop">laptop</option>
            </select>
          </label>
          <label>
            <span>Ilość:</span>
            <input type="number" class="wpis" id="ilosc" [(ngModel)]="ilosc"
            name="ilosc">
          </label>
          <label>
            <span>Wiadomość:</span>
            <textarea class="wiadomosc" id="wiadomosc" [(ngModel)]="wiadomosc"
            name="wiadomosc"></textarea>
            <button type="submit" class="przycisk" (click)="onSubmit()">Zamów</
            button>
          </label>
        </div>
      </form>
  </body>
</html>
